%html
  %head
    %title OAuth Credentials
  %body
    %h3 Email
    %p= @email
    %h3 Token
    %p= @request_token.token
    %h3 Secret
    %p= @request_token.secret
    %p
      %a{href: "/logout" } Logout
